PORT=3000
DEBUG=false
GIN_MODE=release
SQL_DSN=oneapi:change_me@tcp(127.0.0.1:3306)/oneapi?charset=utf8mb4&parseTime=True&loc=Local
REDIS_CONN_STRING=redis://:change_me@127.0.0.1:6379/0
SYNC_FREQUENCY=60
MONTHLY_STUDENT_QUOTA=10000000
MONTHLY_TEACHER_QUOTA=20000000
ADMINISTRATOR_QUOTA=5000000000000000
SESSION_SECRET=change_me
